// div[target="followCursor"]
// {
//   @import url("https://fonts.googleapis.com/css?family=Lora:700");
//   @import url("https://fonts.googleapis.com/css?family=Open+Sans");
//   :root {
//     --z-distance: 8.519vw;
//     --from-left: 1;
//     --mobile-bkp: 650px;
//   }
  
//   *, *::before, *::after {
//     box-sizing: border-box;
//   }
  
//   body {
//     min-height: 100vh;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     font-family: Lora, serif;
//     font-size: calc(14px + .3vw);
//   }
  
//   .slider {
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     perspective: 1000px;
//     transform-style: preserve-3d;
//   }
//   .slider::before, .slider::after {
//     content: '';
//     left: -1vw;
//     top: -1vh;
//     display: block;
//     position: absolute;
//     width: 102vw;
//     height: 102vh;
//     background-position: center;
//     background-size: cover;
//     will-change: opacity;
//     z-index: -1;
//     box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.7) inset;
//   }
//   .slider::before {
//     background-image: var(--img-prev);
//   }
//   .slider::after {
//     transition: opacity 0.7s;
//     opacity: 0;
//     background-image: var(--img-next);
//   }
//   .slider--bg-next::after {
//     opacity: 1;
//   }
//   .slider__content {
//     margin: auto;
//     width: 65vw;
//     height: 32.5vw;
//     max-height: 60vh;
//     will-change: transform;
//     transform-style: preserve-3d;
//     pointer-events: none;
//     transform: translateZ(var(--z-distance));
//   }
//   .slider__images {
//     overflow: hidden;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: 0;
//     box-shadow: 0 0 5em #000;
//   }
//   .slider__images-item {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     will-change: transform;
//     transition-timing-function: ease-in;
//     visibility: hidden;
//   }
//   .slider__images-item img {
//     display: block;
//     position: relative;
//     left: -1em;
//     top: -1em;
//     width: calc(100% + 1em * 2);
//     height: calc(100% + 1em * 2);
//     object-fit: cover;
//     will-change: transform;
//   }
//   .slider__images-item--active {
//     z-index: 20;
//     visibility: visible;
//   }
//   .slider__images-item--subactive {
//     z-index: 15;
//     visibility: visible;
//   }
//   .slider__images-item--next {
//     transform: translateX(100%);
//   }
//   .slider__images-item--prev {
//     transform: translateX(-100%);
//   }
//   .slider__images-item--transit {
//     transition: transform 0.7s, opacity 0.7s;
//   }
//   .slider__text {
//     position: relative;
//     height: 100%;
//   }
//   .slider__text-item {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     padding: 0.5em;
//     perspective: 1000px;
//     transform-style: preserve-3d;
//   }
//   .slider__text-item > * {
//     overflow: hidden;
//     position: absolute;
//   }
//   .slider__text-item h3, .slider__text-item p {
//     transition: transform 0.35s ease-out;
//     line-height: 1.5;
//     overflow: hidden;
//   }
//   .slider__text-item h3 {
//     background-color: rgba(255, 255, 255, 0.5);
//   }
//   .slider__text-item p {
//     font-family: 'Open Sans', sans-serif;
//     padding: 1em;
//     color: white;
//     text-align: center;
//     background-color: rgba(0, 0, 0, 0.5);
//   }
//   .slider__text-item h3::before, .slider__text-item p::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 105%;
//     height: 100%;
//     transform: translateX(0);
//     transition: transform 0.35s ease-out 0.28s;
//   }
//   .slider__text-item h3::before {
//     background-color: #000;
//   }
//   .slider__text-item p::before {
//     background-color: #fff;
//   }
//   .slider__text-item h3 {
//     margin: 0;
//     font-size: 3.5em;
//     padding: 0 .3em;
//     position: relative;
//     font-weight: 700;
//     transform: translateX(-100%);
//   }
//   .slider__text-item p {
//     margin: 0;
//     transform: translateX(100%);
//   }
//   .slider__text-item-head {
//     top: -0.5em;
//     transform: translateZ(3em);
//   }
//   .slider__text-item-info {
//     bottom: 0;
//     right: 0;
//     max-width: 75%;
//     min-width: min-content;
//     transform: translateZ(2em);
//   }
//   .slider__text-item--active h3, .slider__text-item--active p {
//     transform: translateX(0);
//   }
//   .slider__text-item--active h3::before {
//     transform: translateX(102%);
//   }
//   .slider__text-item--active p::before {
//     transform: translateX(-102%);
//   }
//   .slider__text-item--backwards h3::before, .slider__text-item--backwards p::before {
//     transition: transform 0.35s ease-in;
//   }
//   .slider__text-item--backwards h3, .slider__text-item--backwards p {
//     transition: transform 0.35s ease-in 0.35s;
//   }
//   .slider__nav {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//   }
//   .slider__nav-arrows {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
//   .slider__nav-arrow {
//     height: 100vh;
//     width: 50vw;
//     text-indent: -9999px;
//     white-space: nowrap;
//   }
//   .slider__nav-arrow--left {
//     --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='3 1 1 2 3 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
//     cursor: var(--arrow) 40 40, auto;
//   }
//   .slider__nav-arrow--right {
//     --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='1 1 3 2 1 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
//     cursor: var(--arrow) 40 40, auto;
//   }
//   .slider__nav-dots {
//     margin-top: 88vh;
//     display: inline-flex;
//     position: relative;
//     padding: 1em;
//     pointer-events: none;
//   }
//   .slider__nav-dots::before {
//     content: '';
//     position: absolute;
//     left: calc(1em + 1em + 2px);
//     top: calc(1em + 2px);
//     width: calc(1em - 2px * 2);
//     height: calc(1em / 2 - 2px * 2);
//     background-color: rgba(255, 255, 255, 0.9);
//     transition: transform 0.7s ease-out;
//     transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1)));
//   }
//   .slider__nav-dot {
//     margin: 0 1em;
//     width: 1em;
//     height: 0.5em;
//     border: 2px solid rgba(255, 255, 255, 0.5);
//     cursor: crosshair;
//     pointer-events: all;
//     display: inline-block;
//   }
//   .slider__nav-dot:hover {
//     border-color: rgba(255, 255, 255, 0.7);
//   }
//   .slider__nav-dot:active {
//     border-color: rgba(255, 255, 255, 0.5);
//   }
  
//   @media only screen and (max-width: 650px) {
//     .slider::before,
//     .slider::after {
//       display: none;
//     }
  
//     .slider__content {
//       width: 100vw;
//       height: 100vh;
//       max-height: 100vh;
//     }
  
//     .slider__text-item-info {
//       bottom: 50%;
//       left: 50%;
//       transform: translate(-50%, 50%);
//     }
//     .slider__text-item-info p {
//       padding: 1em .8em;
//     }
  
//     .slider__text-item-head {
//       top: 5vh;
//       left: 10vw;
//       transform: translateZ(0);
//     }
//     .slider__text-item-head h3 {
//       font-size: 2.5em;
//     }
  
//     .slider__nav-dots {
//       background-color: rgba(0, 0, 0, 0.3);
//     }
  
//     .slider__nav-arrow {
//       width: 10vw;
//       position: relative;
//       cursor: auto;
//     }
//     .slider__nav-arrow:active {
//       filter: brightness(0.5);
//     }
//     .slider__nav-arrow::before {
//       content: '';
//       background-image: var(--arrow);
//       background-size: cover;
//       width: 8vw;
//       height: 8vw;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//     }
//     .slider__nav-arrow--left {
//       background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0, transparent 100%);
//     }
//     .slider__nav-arrow--left:active {
//       background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, transparent 100%);
//     }
//     .slider__nav-arrow--right {
//       background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0, transparent 100%);
//     }
//     .slider__nav-arrow--right:active {
//       background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0, transparent 100%);
//     }
//   }  
// }

// type Text
div[target="typeText"]
{
  @import url("https://www.dafont.com/matrix.font");
  div {
    position: absolute;
    z-index: 1;        
    top: 0;
    left: 0;      
    height: 100%;
    width: 100%;  
    height: 67%;
    left: 2%;
    background-color: transparent;
    color: rgb(153, 255, 0);
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Darker Grotesque", sans-serif;
  }
  div .typing-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div .typing-container #feature-text {
    margin-left: 8px;
    position: absolute;
  }
  div .typing-container .input-cursor {
    display: inline-block;
    width: 21px;
    height: 42px;
    background-color: greenyellow;
    margin-left: 8px;
    animation: blink 0.6s linear infinite alternate;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }  
}

// red Pill not working ? using pure css 
div[target="redPill"]
{
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    position: absolute;
    z-index: 10;
    display: box;
    display: flex;
    box-pack: center;
    justify-content: center;
    box-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .btn {
    display: box;
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom, hotpink 0%, tomato 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .6);
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .btn::before {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: black;
    opacity: 0;
    content: '';
    animation: pulse 1.5s infinite;
  }
  
  .btn:hover::before {
    animation: none;
    opacity: .4;
    transform: scale(1.3);
  }
  .btn.is-clicked {
    background: linear-gradient(to bottom, gray 0%, rgb(26, 20, 20) 100%);
  }
  .btn.is-clicked:before {
    animation: blastOut 1s;
  }
  
  @keyframes pulse {
    from {
      transform: scale(1);
      opacity: .2;
    }
    to {
      transform: scale(1.3);
      opacity: 0;
    }
  }
  
  @keyframes blastOut {
    from {
      transform: scale(0.9);
      opacity: .6;
    }
    to {
      transform: scale(40);
      opacity: 0;
    }
  }
}

//
div[target="flipCards"]
{
  *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  h1{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
  }
  
  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  .front:after{
    position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }  
}