@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  z-index: 10;
  display: box;
  display: flex;
  box-pack: center;
  justify-content: center;
  box-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  display: box;
  z-index: 10;
  position: absolute;
  left: 60%;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, rgb(140, 28, 84) 0%, rgb(162, 64, 47) 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .6);
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.btn::before {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(220, 78, 78, 0.767);
  opacity: 0;
  content: '';
  animation: pulse 1.5s infinite;
}

.btn:hover::before {
  animation: none;
  opacity: .4;
  transform: scale(1.3);
}
.btn.is-clicked {
  background: linear-gradient(to bottom, rgb(15, 12, 12) 0%, rgb(36, 29, 29) 100%);
}
.btn.is-clicked:before {
  animation: pulse 1.5s infinite, blastOut 1.5s;
  background: rgb(0, 0, 0);
}
.btn.is-clickedd:before {
  animation: pulse 1.5s infinite, blastIn 1s;
  background: rgb(78, 72, 72);
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: .8;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes blastOut {
  from {
    transform: scale(0.9);
    opacity: .8;
  }
  to {
    transform: scale(30);
    opacity: 0;
  }
}

@keyframes blastIn {
  from {
    transform: scale(15);
    opacity: .5;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

